{
    box-sizing: border-box;
}
    body{
        background-color:darkslategrey;
    }
.container{
    margin: auto;
    margin-top: 10%;
    width: 50%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    transition: transform 2s;
    transition-timing-function: linear;
    background-color: palevioletred;
    justify-content: center;
}

 .container:hover{
    transform: skew(10deg, 20deg);
    animation-name: color;
    animation-duration: 2s;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: width 2s, height 2s;
    position: absolute;
    right: 50%;
    top: 15%;
    transition: transform 2s,width 2s, height 2s;
    transition-timing-function: ease-out;
    transition-delay: 2ms;

}
img:hover{
    width: 100px;
    height: 100px;
    transform: scale(2); 
}

height 2s;
    transition-timing-function: ease-out;
    transition-delay: 2ms;

    h4 {
        text-align: center;
        margin: 2em;
    }

.info {
    display: inline;
            text-align: initial;
            margin-right: 5em;
            color: black;

}

    @media screen and (max-width:600px) {
        img{
            position: absolute;
            top: 40px;
            left: 180px;
        }
        
    }